<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <contextName>abms</contextName>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <property name="log.level" value="info"/>
    <property name="log.filePath" value="logs/${springAppName}.log"/>
    <property name="log.console_pattern" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
    <property name="log.file_pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <!-- console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${log.console_pattern}</pattern>
        </layout>
    </appender>

    <!-- dailyRollingFile -->
    <appender name="dailyRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.filePath}</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>>${log.filePath}.%d{yyyy-MM-dd}</FileNamePattern>
            <maxHistory>1000</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.file_pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="${log.level}">
        <appender-ref ref="console"/>
        <appender-ref ref="dailyRollingFile"/>
    </root>
</configuration>